:root {
    --accent-color-hover: oklch(92.602% 0.11538 94.654);
    --accent-color-second-hover: oklch(80.974% 0.1305 58.822);
}

.transactionBtn:hover, .manualUpdateBtn:hover {
    background-color: var(--accent-color-hover);
}

.confirmBtn:hover, .manualUpdateConfirmBtn:hover {
    background-color: var(--accent-color-hover);
}

.deleteBtn:hover {
    background-color: var(--accent-color-second-hover);
}

.historyBtn:focus-visible, .closePageBtn:focus-visible {
    outline: none;
}

.historyBtn:focus-visible img, .closePageBtn:focus-visible img {
    outline: var(--border-default);
}

@media (prefers-reduced-motion) {
    .transactionBtn, .confirmBtn, .deleteBtn {
        transition: none;
    }
}